{% extends 'users/base_dashboard.html' %}
{% load static %}

{% block button %}
<div class="list-group list-group-dark list-group-borderless collapse-list">
	<a class="list-group-item active" href="{% url 'dashboard' %}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Обучение</a>
	<a class="list-group-item" href=""><i class="bi bi-question-diamond fa-fw me-2"></i>Тесты</a>
	<a class="list-group-item" href="{% url 'favourites' user_id=user.id %}"><i class="bi bi-cart-check fa-fw me-2"></i>Желания</a>
	<a class="list-group-item" href="{% url 'setups' pk=user.pk %}"><i class="bi bi-pencil-square fa-fw me-2"></i>Редактировать профиль</a>
	<a class="list-group-item text-danger bg-danger-soft-hover" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Выйти</a>
</div>
{% endblock %}

{% block content %}
<div class="col-xl-9">
	<div class="card bg-transparent border rounded-3">
		<!-- Card body START -->
		<div class="card-body">
			<!-- Course list table START -->
			<div class="table-responsive border-0">
				<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
					<!-- Table head -->
                {% if courses %}
					<thead>
						<tr>
							<th scope="col" class="border-0 rounded-start">Название</th>
							<th scope="col" class="border-0">Пройдено</th>
							<th scope="col" class="border-0">Всего</th>
							<th scope="col" class="border-0 rounded-end">Действия</th>
						</tr>
					</thead>
                {% endif %}

					<!-- Table body START -->
					<tbody>
                    {% if courses %}
						<!-- Table item -->
                        {% for course in courses %}
						<tr>
							<!-- Table data -->
							<td>
								<div class="d-flex align-items-center">
									<!-- Image -->
									<div class="w-100px">
										<img src="{{course.image.url}}" class="rounded" alt="">
									</div>
									<div class="mb-0 ms-2">
										<!-- Title -->
										<h6><a href="{% url 'course_detail' slug=course.slug %}">{{ course.title }}</a></h6>
										<!-- Info -->
										<div class="overflow-hidden">
											<h6 class="mb-0 text-end">85%</h6>
											<div class="progress progress-sm bg-primary bg-opacity-10">
												<div class="progress-bar bg-primary aos aos-init" role="progressbar" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>

							<!-- Table data -->
							<td>Посчитать</td>

							<!-- Table data -->
							<td>Посчитать</td>

							<!-- Table data -->
							<td>
								<a href="{% url 'course_lectures' course_slug=course.slug %}" class="btn btn-sm btn-primary-soft me-1 mb-1 mb-md-0"><i class="bi bi-play-circle me-1"></i>Лекции</a>
                                <button class="btn btn-sm btn-success me-1 mb-1 mb-x;-0 disabled"><i class="bi bi-check me-1"></i>Завершен</button>
								<a href="" class="btn btn-sm btn-light me-1"><i class="bi bi-arrow-repeat me-1"></i>Тест</a>
							</td>
						</tr>
                        {% endfor %}
                    {% else %}
                        <tr>
							<!-- Table data -->
							<td>
								<div class="d-flex align-items-center">
									<div class="mb-0 ms-2">
										<h6>Упс! У вас еще нет активных курсов. <a href="{% url 'catalog' %}" style="color: blue;">Выбери интересующий тебя</a></h6>
									</div>
								</div>
							</td>
						</tr>
                    {% endif %}
					</tbody>
					<!-- Table body END -->
				</table>
			</div>
			<!-- Course list table END -->

			<!-- Pagination START -->
        {% if is_paginated %}
			<div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
				<!-- Pagination -->
				<nav class="d-flex justify-content-center mb-0" aria-label="navigation">
					<ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                        {% if page_obj.has_previous %}
						<li class="page-item mb-0"><a class="page-link" href="?page=1" tabindex="-1"><i class="bi bi-caret-left-fill" style="color: #2156b0;"></i></a></li>
					{% endif %}
					{% for page in paginator.page_range %}
						<li class="page-item mb-0{% if page == page_obj.number %} active{% endif %}">
							<a class="page-link" href="?page={{ page }}">{{ page }}</a>
						</li>
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fbi bi-caret-right-fill" style="color: #2156b0;"></i></a></li>
					{% endif %}
					</ul>
				</nav>
			</div>
        {% endif %}
			<!-- Pagination END -->
		</div>
		<!-- Card body START -->
	</div>
	<!-- Main content END -->
	</div><!-- Row END -->
{% endblock %}