{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Каталог
{% endblock %}

{% block body %}

<!-- **************** MAIN CONTENT START **************** -->
<main>



<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container">
		<!-- Course list START -->
		<div class="row g-4 justify-content-center">

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/01(1).jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">The Complete Digital Marketing Course - 12 Courses in 1</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#"><i class="fas fa-heart text-danger"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>6h 56m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>82 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Beginner</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.5/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/02.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">Graphic Design Masterclass</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#" class="h6 fw-light"><i class="far fa-heart"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>9h 56m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>65 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>All level</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.0/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/03.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">Create a Design System in Figma</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#" class="h6 fw-light"><i class="far fa-heart"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>7h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>32 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Intermediate</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.0/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/05.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">The Complete Web Development in python</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#"><i class="fas fa-heart text-danger"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>7h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>32 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Intermediate</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.0/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/06.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">Angular – The Complete Guider</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#" class="h6 fw-light"><i class="far fa-heart"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>21h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>68 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>All level</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.5/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/07.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">Deep Learning with React-Native</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#" class="h6 fw-light"><i class="far fa-heart"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>10h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>21 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Advance</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">3.5/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/09.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">JavaScript: Full Understanding</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#"><i class="fas fa-heart text-danger"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>7h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>12 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Beginner</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.0/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/11.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">Build Responsive Websites with HTML</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#" class="h6 fw-light"><i class="far fa-heart"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>15h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>38 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>All level</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.0/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/12.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">Build Websites with CSS</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#" class="h6 fw-light"><i class="far fa-heart"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>22h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>16 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Advance</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.5/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xxl-6">
				<div class="card rounded overflow-hidden shadow">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="./catalog_files/13.jpg" alt="card image">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-flex justify-content-between mb-2">
									<h5 class="card-title mb-0"><a href="https://eduport.webestica.com/course-list-2.html#">PHP with - CMS Project</a></h5>
									<!-- Wishlist icon -->
									<a href="https://eduport.webestica.com/course-list-2.html#"><i class="fas fa-heart text-danger"></i></a>
								</div>
								<!-- Content -->
								<!-- Info -->
								<ul class="list-inline mb-1">
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock text-danger me-2"></i>10h 16m</li>
									<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-table text-orange me-2"></i>9 lectures</li>
									<li class="list-inline-item h6 fw-light"><i class="fas fa-signal text-success me-2"></i>Intermediate</li>
								</ul>
								<!-- Rating -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
									<li class="list-inline-item ms-2 h6 fw-light">4.5/5.0</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->
		</div>
		<!-- Course list END -->

		<!-- Pagination START -->
		<div class="col-12">
			<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
				<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
					<li class="page-item mb-0"><a class="page-link" href="https://eduport.webestica.com/course-list-2.html#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
					<li class="page-item mb-0"><a class="page-link" href="https://eduport.webestica.com/course-list-2.html#">1</a></li>
					<li class="page-item mb-0 active"><a class="page-link" href="https://eduport.webestica.com/course-list-2.html#">2</a></li>
					<li class="page-item mb-0"><a class="page-link" href="https://eduport.webestica.com/course-list-2.html#">..</a></li>
					<li class="page-item mb-0"><a class="page-link" href="https://eduport.webestica.com/course-list-2.html#">6</a></li>
					<li class="page-item mb-0"><a class="page-link" href="https://eduport.webestica.com/course-list-2.html#"><i class="fas fa-angle-double-right"></i></a></li>
				</ul>
			</nav>
		</div>
		<!-- Pagination END -->

	</div>
</section>
<!-- =======================
Page content END -->

</main>
<script src="{% static 'main/scripts/choices.min.js' %}"></script>
<script src="{% static 'main/scripts/functions_2.js' %}"></script>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}