{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ course.title }}
{% endblock %}

{% block body %}
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Page intro START -->
<section class="bg-light py-0 py-sm-5">
	<div class="container">
<!--		<div clasass="row py-5">-->
			<div class="col-lg-8">
				<!-- Badge -->
				<h6 class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block">{{ course.category}}</h6>
				<!-- Title -->
				<h1>{{ course.title }}</h1>
				<!-- Content -->
			</div>
<!--		</div>-->
	</div>
</section>
<!-- =======================
Page intro END -->

<!-- =======================
Page content START -->
<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="true">Описание</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false" tabindex="-1">Преподаватель</button>
							</li>
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade active show" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								<h5 class="mb-3">Описание</h5>
								<p class="mb-3">{{ course.description}}<strong> Digital Marketing Ultimate Course Bundle - 12 Courses in 1 (Over 36 hours of content)</strong></p>
								<p class="mb-3">In this practical hands-on training, you’re going to learn to become a digital marketing expert with this <strong> ultimate course bundle that includes 12 digital marketing courses in 1!</strong></p>
								<p class="mb-3">If you wish to find out the skills that should be covered in a basic digital marketing course syllabus in India or anywhere around the world, then reading this blog will help. Before we delve into the advanced <strong><a href="https://eduport.webestica.com/course-detail.html#" class="text-reset text-decoration-underline">digital marketing course</a></strong> syllabus, let’s look at the scope of digital marketing and what the future holds.</p>
								<p class="mb-0">We focus a great deal on the understanding of behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn’t going to get the job done so that’s why this course is packed with practical hands-on examples that you can follow step by step.</p>
								<p class="mb-0">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. </p>
								<!-- Course detail END -->
							</div>
							<!-- Content END -->



							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<!-- Card START -->
								<div class="card mb-0 mb-md-4">
									<div class="row g-0 align-items-center">
										<div class="col-md-5">
											<!-- Image -->
                                            {% if instructor.image %}
											<img src="{{instructor.image.url}}" class="img-fluid rounded-3" alt="instructor-image">
                                            {% else %}
                                            <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg" class="img-fluid rounded-3" alt="instructor-image">
                                            {% endif %}
										</div>
										<div class="col-md-7">
											<!-- Card body -->
											<div class="card-body">
												<!-- Title -->
												<h3 class="card-title mb-0">{{ instructor.first_name }} {{ instructor.last_name }}</h3><br>
												<p class="mb-2">{{ instructor.grade }}</p><br>
                                                <h3 class="mb-3">О преподавателе</h3>
                                                <p class="mb-3">{{ instructor.description }} </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Content END -->
						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 z-index-9">
							<div class="overflow-hidden rounded-3">
								<img src="{{ course.image.url }}" class="card-img" alt="course image">
								<!-- Overlay -->
								<div class="bg-overlay opacity-6"></div>
								<div class="card-img-overlay d-flex align-items-start flex-column p-3"></div>
							</div>
		
{#							<!-- Card body -->#}
{#							<div class="card-body px-3">#}
{#								<!-- Info -->#}
{#								<div class="d-flex justify-content-between align-items-center">#}
{#									<!-- Price and time -->#}
{#									<div>#}
{#										<div class="d-flex align-items-center">#}
{#											<h3 class="fw-bold mb-0 me-2">150 ₽</h3>#}
{#										</div>#}
{#								</div>#}
{##}
{#								<!-- Buttons -->#}
{#								<div class="mt-3 d-sm-flex justify-content-sm-between">#}
{#									<a href="https://eduport.webestica.com/course-detail.html#" class="btn btn-outline-primary mb-0">Free trial</a>#}
{#									<a href="https://eduport.webestica.com/course-detail.html#" class="btn btn-success mb-0">Buy course</a>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
						<!-- Video END -->

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3">В курс входит:</h4>
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Лекции</span>
									<span>30</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Тесты</span>
									<span>4h 50m</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Период проведения</span>
									<span>Nov 30 2021</span>
								</li>
							</ul>
						</div>
						<!-- Course info END -->
					</div>


				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

<!-- =======================
Listed courses START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<h2 class="mb-0">Больше курсов категории "{{ course.category }}"</h2>
		</div>

		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-blur arrow-hover">
				<div class="tns-outer" id="tns1-ow"><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide
                    <span class="current">7 to 11</span>  of 4</div>
                    <div id="tns1-mw" class="tns-ovh">
                        <div class="tns-inner" id="tns1-iw">
                            <div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1" id="tns1" style="transition-duration: 0s; transform: translate3d(-38.8889%, 0px, 0px);">
                    {% if similar_courses %}
                        {% for similar_course in similar_courses %}
                    <div class="pb-4 tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="{{similar_course.image.url}}" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="{% url 'favourites_update' course_id=similar_course.id %}" class="icon-md bg-white rounded-circle text-center">
											<i class="bi bi-heart"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="{% url 'course_detail' slug=similar_course.slug %}">{{ similar_course.title }}</a></h5>
                                <p>{{ similar_course.description|slice:"50" }}...</p>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="" class="badge bg-info bg-opacity-10 text-info">
                                        <i class="bi bi-circle-fill" style="color: #2156b0;"></i>  {{ similar_course.category }}</a>
									<!-- Price -->
{#									<h3 class="text-success mb-0">$342</h3>#}
								</div>
							</div>
						</div>
					</div>
                        {% endfor %}
                    {% endif %}
			<!-- Slider END -->		
		</div>
	</div>
</section>
<!-- =======================
Listed courses END -->

</main>
{% endblock %}
<!-- **************** MAIN CONTENT END **************** -->
