{% extends 'users/base_dashboard.html' %}
{% load static %}

{% block button %}
<div class="list-group list-group-dark list-group-borderless collapse-list">
	<a class="list-group-item" href="{% url 'dashboard' %}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Обучение</a>
	<a class="list-group-item" href=""><i class="bi bi-question-diamond fa-fw me-2"></i>Тесты</a>
	<a class="list-group-item active" href="{% url 'favourites' user_id=user.id %}"><i class="bi bi-cart-check fa-fw me-2"></i>Желания</a>
	<a class="list-group-item" href="{% url 'setups' pk=user.pk %}"><i class="bi bi-pencil-square fa-fw me-2"></i>Редактировать профиль</a>
	<a class="list-group-item text-danger bg-danger-soft-hover" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Выйти</a>
</div>
{% endblock %}

{% block content %}
			<!-- Main content START -->
			<div class="col-xl-9">

				<div class="card bg-transparent border rounded-3">


					<!-- Card body START -->
					<div class="card-body p-3 p-md-4">
						<div class="row g-4">
							<!-- Card item START -->
                            {% if object_list %}
                                {% for favourite in object_list %}
							<div class="col-sm-6 col-lg-4">
								<div class="card shadow h-100">
									<!-- Image -->
									<img src="{{favourite.course.image.url}}" class="card-img-top" alt="course image">
									<div class="card-body pb-0">
										<!-- Badge and favorite -->
										<div class="d-flex justify-content-between mb-2">
											<a href="" class="badge bg-success bg-opacity-10 text-success">{{favourite.course.category}}</a>
											<a href="{% url 'favourites_update' course_id=favourite.course.id %}" class="text-danger"><i class="bi bi-heart-fill"></i></a>
										</div>
										<!-- Title -->
										<h5 class="card-title fw-normal"><a href="{% url 'course_detail' slug=favourite.course.slug %}">{{favourite.course.title}}</a></h5>
										<p class="mb-2 text-truncate-2">{{favourite.course.description|slice:"45"}}...</p>
									</div>
									<!-- Card footer -->
									<div class="card-footer pt-0 pb-3">
										<hr>
										<div class="d-flex justify-content-between">
											<span class="h6 fw-light mb-0"><i class="fas fa-table text-orange me-2"></i>{{ favourite.course.lecture_set.count }} лекций n тестов</span>
										</div>
									</div>
								</div>
							</div>
                                {% endfor %}
                                <!-- Pagination START -->
		{% if is_paginated %}
		<div class="col-12">
			<nav class="mt-4 d-flex justify-content-center" aria-label="навигация">
				<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
					{% if page_obj.has_previous %}
						<li class="page-item mb-0"><a class="page-link" href="?page=1" tabindex="-1"><i class="bi bi-caret-left-fill" style="color: #2156b0;"></i></a></li>
					{% endif %}
					{% for page in paginator.page_range %}
						<li class="page-item mb-0{% if page == page_obj.number %} active{% endif %}">
							<a class="page-link" href="?page={{ page }}">{{ page }}</a>
						</li>
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fbi bi-caret-right-fill" style="color: #2156b0;"></i></a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
		<!-- Pagination END -->
		{% endif %}
                                {% else %}
                                <div class="card-body p-3 p-md-4">
                                    <div class="row g-4">
                                        <div>
                                            <div>
                                                <span><strong>Упс! Вы ничего не добавили в этот раздел</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
						</div>
					</div>
					<!-- Card body EMD -->
				</div>  
			</div>
			<!-- Main content END -->
		</div> <!-- Row END --> 
	</div>	
</section>
<!-- =======================
Page content END -->
{% endblock %}